<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="/assets/img/burger_sandwich_PNG.png"  style="width:200px">
    </div> 
  </div>
  <div class="row">
    <div class="col text-center">
      <h1>Eat Da Burger!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 text-right">
      <h3>Burgers Waiting to Be Devoured!</h3>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burgers-block devoured=true}}
          {{/unless}}
        {{/each}}
    </div>
    <div class="col-sm-1 text-center"></div>
    <div class="col-sm-5 text-left">
      <h3>Burgers that are devoured!</h3>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burgers-block devoured=false}}
          {{/if}}
        {{/each}}
    </div>
  </div>
</div>








<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devoured?</label><br>
    <input type="radio" name="devour" value="1" checked> Devoured!<br>
    <input type="radio" name="devour" value="0"> Not Eaten
  </div>

  <button type="submit">Add Burger</button>
</form>
